{% load static %}
<html>
    <head>
        <title>Joseph's Website</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'home' %}" <p1>Home</p1></a>
            <a href="{% url 'post_list' %}" <p1>Blog</p1></a>
            <a href="{% url 'cv_page' %}" <p1>CV</p1></a>
            <h1><a href="/">Joseph's Website</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <img src="{% static "JDS.jpg" %}">
                <p>
                    Hello, my name is Joseph and welcome to my website
                </p>
            </div>
        </div>
    </body>
</html>