{% load static %}
<html>
    <head>
        <title>Joseph's CV</title>
        {% comment %} <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> {% endcomment %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static '/css/cv.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'home' %}" <p1>Home</p1></a>
            <a href="{% url 'post_list' %}" <p1>Blog</p1></a>
            <a href="{% url 'cv_page' %}" <p1>CV</p1></a>
            <a href="/admin" <p1>Login</p1></a>
            {% if user.is_authenticated %}
                <a href="{% url 'cv_edit' %}" class="top-menu"> <p1>Update CV<span  class="glyphicon glyphicon-plus"></span> </p1></a>
            {% endif %}
            <h1><a href="/cv/">Joseph's CV</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>