{% extends 'blog/base.html' %}

{% block content %}
    <p><strong> Hello </strong> <em>there!</em>
        <br>It works!</br>
    </p>
{% endblock %}


{% comment %} <div>
            {% comment %} <h1>Joseph's Blog</h1> {% endcomment %}
        {% comment %} </div> {% endcomment %}

        {% comment %} <div> {% endcomment %}
            {% comment %} <p><strong> Hello </strong> <em>there!</em> {% endcomment %}
                {% comment %} <br>It works!</br> {% endcomment %}
            {% comment %} </p> {% endcomment %}
            {% comment %} <a href="https://djangogirls.org">link</a> {% endcomment %}
        {% comment %} </div> {% endcomment %}

        {% comment %} <div> {% endcomment %}
            {% comment %} <ul> {% endcomment %}
                {% comment %} <li>Turtwig</li> {% endcomment %}
                {% comment %} <li>Grotle</li> {% endcomment %}
                {% comment %} <li>Torterra</li> {% endcomment %}
            {% comment %} </ul> {% endcomment %}
        {% comment %} </div> {% endcomment %}