{% load static %}
<html>
    <head>
        <title>Joseph's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <! Links to Lobster font specifically >
        <link href="//fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet" type="text/css">
        {% comment %} <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> {% endcomment %}
        <link href="//fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static '/css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'home' %}" <p1>Home</p1></a>
            <a href="{% url 'post_list' %}" <p1>Blog</p1></a>
            <a href="{% url 'cv_page' %}" <p1>CV</p1></a>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"> <p>New Post  <span  class="glyphicon glyphicon-plus"></span> </p></a>
            {% endif %}
            <h1><a href="/">Joseph's Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

{% comment %} <div>
            {% comment %} <h1>Joseph's Blog</h1> {% endcomment %}
        {% comment %} </div> {% endcomment %}

        {% comment %} <div> {% endcomment %}
            {% comment %} <p><strong> Hello </strong> <em>there!</em> {% endcomment %}
                {% comment %} <br>It works!</br> {% endcomment %}
            {% comment %} </p> {% endcomment %}
            {% comment %} <a href="https://djangogirls.org">link</a> {% endcomment %}
        {% comment %} </div> {% endcomment %}

        {% comment %} <div> {% endcomment %}
            {% comment %} <ul> {% endcomment %}
                {% comment %} <li>Turtwig</li> {% endcomment %}
                {% comment %} <li>Grotle</li> {% endcomment %}
                {% comment %} <li>Torterra</li> {% endcomment %}
            {% comment %} </ul> {% endcomment %}
        {% comment %} </div> {% endcomment %}