<html>
    <head>
        <title>Joseph's blog</title>
    </head>
    <body>
        <div>
            <h1>Joseph's Blog</h1>
        </div>

        <div>
            <p><strong> Hello </strong> <em>there!</em>
                <br>It works!</br>
            </p>
            <a href="https://djangogirls.org">link</a>
        </div>

        <div>
            <ul>
                <li>Turtwig</li>
                <li>Grotle</li>
                <li>Torterra</li>
            </ul>
        </div>




        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}

        </div>

    </body>
</html>